@import "variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $blanco;
}

//--------------------------------------------
//     ENCABEZADO
//--------------------------------------------

.header {
    border: 1px dashed red;
    background-color: $blanco;
    height: 50vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;

    .header_portada {
        border: 1px dashed blue;
        background-color: aqua;
        height: 85%;
        width: 100%;
    }

    .header_foto {
        border: 5px solid $blanco;
        border-radius: 50%;
        background-color: cornflowerblue;
        height: 120px;
        width: 120px;

        position: absolute;
        bottom: 5px;
    }

    .header_faja {
        border: 1px dashed red;
        background-color: $blanco;
        height: 15%;
        width: 100%;
    }

}