* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: coral;
}

//--------------------------------------------
//     ENCABEZADO
//--------------------------------------------

.header {
    border: 1px dashed red;
    background-color: crimson;
    height: 65vh;
    width: 100%;
}