//--------------------------------------------
//    PALETA DE COLORES
//--------------------------------------------

$blanco: rgb(228, 228, 228);
$negro:rgb(22, 21, 21);
$gris_claro: rgb(205, 205, 205);

//--------------------------------------------
//    fUENTES
//--------------------------------------------

$parrafos: 'Cairo', sans-serif;
$titulos: 'Kanit', sans-serif;

$titulo_size: 30px;
$subtitulo_size: 16px;
$parrafo_size: 14px;