//--------------------------------------------
//    PALETA DE COLORES
//--------------------------------------------

$blanco: rgb(224, 224, 224);
$negro:rgb(22, 21, 21);
$gris_claro: rgb(175, 175, 175);

//--------------------------------------------
//    fUENTES
//--------------------------------------------

$parrafos: 'Cairo', sans-serif;
$titulos: 'Bebas Neue', cursive;

$titulo_size: 80px;
$subtitulo_size: 20px;
$parrafo_size: 16px;